{% extends 'home.html' %} {% block main %}
  <div class="container mt-1 p-3 rounded-2 cart bg-white">
    <div class="d-flex flex-row align-items-center">
      <span class="fw-bold fs-5">ประวัติการยืมวัสดุ</span>
    </div>
    <div class="bg-white rounded-2">
      <div class="d-flex row rounded-2 small fw-bold justify-content-between">
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="align-items-center">
                <span>เรียงโดย</span>
                <a href="?sort=latest" class="px-2 me-2 btn {% if last_sort == 'latest' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">วันที่ทำรายการ</a>
                <a href="?sort=start_date" class="px-2 me-2 btn {% if last_sort == 'start_date' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">วันที่ยืม</a>
                <a href="?sort=name" class="px-2 me-2 btn {% if last_sort == 'name' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">รายการ</a>
                <a href="?sort=quantity" class="px-2 me-2 btn {% if last_sort == 'quantity' %}btn-dark{% else %}btn-outline-dark{% endif %} border-0 rounded-pill">จำนวน</a>
                <a href="?sort=default" class="px-2 me-2 btn border-0 rounded-pill"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <form class="d-flex" role="search">
                <input class="form-control me-2 border-dark" type="search" placeholder="Search" aria-label="Search" name="search_parcel" value="{{search_parcel}}">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
      <table class="table">
        <thead>
            <tr class="fw-bold">
            <th class="col-md-1 text-center" scope="col">ลำดับ</th>
            <th class="col-md-2" scope="col">รายการ</th>
            <th class="col-md-1 text-center" scope="col">จำนวน</th>
            <th class="col-md-2 text-center" scope="col">ทำรายการเมื่อ</th>
            <th class="col-md-2 text-center" scope="col">วันที่ยืม</th>
            <th class="col-md-2 text-center" scope="col">เหตุผลจากเจ้าหน้าที่</th>
            <th class="col-md-3 text-center"></th>
          </tr>
        </thead>
        <tbody id="xTable">
          {% for AllLoanParcel in pageparcel.object_list %}
          <tr class="qrow text-center card-body">
            <td class="text-center">{{forloop.counter}}</td>
            <td>
              <p class="text-start">{{ AllLoanParcel.name }}</p>
            </td>
            <td>
              <p class="text-center">{{ AllLoanParcel.quantity }}</p>
            </td>
            <td>
              <p class="text-center">
                {{ AllLoanParcel.date_add|date:"j N Y" }}
              </p>
            </td>
            <td>
              <p class="text-center">{{ AllLoanParcel.start_date }}</p>
            </td>
            <td>
              <p class="text-center">{{ AllLoanParcel.reasonfromstaff }}</p>
            </td>
            <td>
              <a href="{% url 'user_detail' AllLoanParcel.id %}">ยืมอีกครั้ง</a>
            </td>
          </tr>
          {% empty %}
          <p class="text-center">ยังไม่มีข้อมูลประวัติการยืมวัสดุ</p>
          {% endfor %}
        </tbody>
        <div class="page-links">
          {% if pageparcel.has_previous %}
          <a href="?page={{ pageparcel.previous_page_number }}">หน้าก่อนหน้า</a>
          {% endif %}
          {% if pageparcel.has_next %}
          <a href="?page={{ pageparcel.next_page_number }}">หน้าถัดไป</a>
          {% endif %}
        </div>
      </table>
    </div>
  </div>
{% endblock %}