{% load static %}
{% if user.right == "ผู้ดูแลระบบ" or user.is_superuser and user.status == "ปกติ" %}
{% include "components/myhead.html" %}
<body class="">
    {% include "components/headerAdmin.html" %}
    {% include 'messages.html' %}
    <br>
    <main class="min-h-screen">
        {% block main %}
        
        {% endblock %}
        
    </main>
    <!-- {% include "components/footer.html" %} -->
</body>

</html>
{% else %}
<br><h2 class="text-center">คุณไม่มีสิทธิ์เข้าถึง กรุณาติดต่อผู้ดูแลระบบ</h2>
{% endif %}

{% comment %} 
#สำหรับ htlm
{% extends 'headerAdmin.html' %}
{% block main %}

{% endblock %} 
{% endcomment %}
<script>
   
</script>