{% for message in messages %}
<div id="alert-container" class="container-fluid p-3">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="btn-close">
        <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}

<script>
  var alertTimeout = 1700;
  var alertContainer = document.getElementById('alert-container');
  setTimeout(function() {
    alertContainer.parentNode.removeChild(alertContainer);
  }, alertTimeout);
</script>
